<a href="https://colab.research.google.com/github/Oliveira-LE/Python_1-s_passos/blob/main/Python_para_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercício: Praticar o uso de variáveis e da função input.**
Solucione os problemas propostos em código.

# **Coleta e amostragem de dados**

1. Crie um programa que solicite à pessoa usuária digitar seu nome, e imprima “Olá, [nome]!”.
2. Crie um programa que solicite à pessoa usuária digitar seu nome e idade, e imprima “Olá, [nome], você tem [idade] anos.”.
3. Crie um programa que solicite à pessoa usuária digitar seu nome, idade e altura em metros, e imprima “Olá, [nome], você tem [idade] anos e mede [altura] metros!”.

# **Calculadora com operadores**

1.  Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a soma dos dois valores.
2.  Crie um programa que solicite três valores numéricos à pessoa usuária e imprima a soma dos três valores.
3.  Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a subtração do primeiro pelo o segundo valor.
4.  Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a multiplicação dos dois valores.
5.  Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e realize a divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser 0.
6.  Crie um programa que solicite dois valores numéricos, um operador e uma potência, e realize a exponenciação entre esses dois valores.
7.  Crie um programa que solicite dois valores numéricos, um numerador e um denominador e realize a divisão inteira entre os dois valores. Deixe claro que o valor do denominador não pode ser 0.
8.  Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e retorne o resto da divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser 0.
9.  Crie um código que solicita 3 notas de um estudante e imprima a média das notas.
10. Crie um código que calcule e imprima a média ponderada dos números 5, 12, 20 e 15 com pesos respectivamente iguais a 1, 2, 3 e 4.

# **Editando textos**

1.   Crie uma variável chamada “frase” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase na tela.
2.   Crie um código que solicite uma frase e depois imprima a frase na tela.
3.   Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras maiúsculas.
4.   Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras minúsculas.
5.   Crie uma variável chamada “frase” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase sem espaços em branco no início e no fim.
6.   Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim.
7.   Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim e em letras minúsculas.
8    Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “e” trocadas pela letra “f”.
9    Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “a” trocadas pela caractere “@”.
10.  Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as consoantes “s” trocadas pelo caractere “$”.

# **Resolução**

# **Coleta e amostragem de dados**

1.

In [ ]:
nome = input('Digite seu nome: ')
print(f'Olá, {nome}.')

Digite seu nome: Luciano
Olá, Luciano.

2.

In [ ]:
nome = input('Digite seu nome: ')
idade = int(input('Digite sua idade: '))
print(f'Olá {nome}, você tem {idade} anos.')

Digite seu nome: luciano
Digite sua idade: 44
Olá luciano, você tem 44 anos.

3.

In [ ]:
nome = input('Digite seu nome: ')
idade = int(input('Digite sua idade: '))
altura = float(input('Digite sua altura: '))
print(f'Olá {nome}, você tem {idade} anos e mede {altura} metros!')

Digite seu nome: Luciano
Digite sua idade: 44
Digite sua altura: 1.8
Olá Luciano, você tem 44 anos e mede 1.8 metros!

# **Calculadora com operadores**

1.

In [ ]:
a = int(input('Digite o primeiro valor: '))
b = int(input('Digite o segundo valor: '))
print(a+b)

Digite o primeiro valor: 3
Digite o segundo valor: 7
10

2.

In [ ]:
a = int(input('Digite o primeiro valor: '))
b = int(input('Digite o segundo valor: '))
c = int(input('Digite o terceiro valor: '))
print(a+b+c)

Digite o primeiro valor: 2
Digite o segundo valor: 3
Digite o terceiro valor: 4
9

3.

In [ ]:
a = int(input('Digite o primeiro valor: '))
b = int(input('Digite o segundo valor: '))
print(a-b)

Digite o primeiro valor: 7
Digite o segundo valor: 3
4

4.

In [ ]:
a = int(input('Digite o primeiro valor: '))
b = int(input('Digite o segundo valor: '))
print(a*b)

Digite o primeiro valor: 2
Digite o segundo valor: 8
16

5.

In [ ]:
numerador = int(input('Digite o numerador: '))
denominador = int(input('Digite o denominador (OBS: o valor não pode ser nulo): '))
print(numerador/denominador)

Digite o numerador: 8
Digite o denominador (OBS: o valor não pode ser nulo): 6
1.3333333333333333

6.

In [ ]:
operador = int(input('Digite o operador valor: '))
potencia = int(input('Digite a potência valor: '))
print(operador**potencia)

Digite o operador valor: 9
Digite a potência valor: 6
531441

7.

In [ ]:
numerador = int(input('Digite o numerador: '))
denominador = int(input('Digite o denominador (OBS: o valor não pode ser nulo): '))
print(numerador//denominador)

Digite o numerador: 20
Digite o denominador (OBS: o valor não pode ser nulo): 15
1

8.

In [ ]:
numerador = int(input('Digite o numerador: '))
denominador = int(input('Digite o denominador (OBS: o valor não pode ser nulo): '))
print(numerador%denominador)

Digite o numerador: 3
Digite o denominador (OBS: o valor não pode ser nulo): 6
3

9.

In [ ]:
nota_1 = float(input('Digite a 1° nota: '))
nota_2 = float(input('Digite a 2° nota: '))
nota_3 = float(input('Digite a 3° nota: '))
print(f'Média {(nota_1+nota_2+nota_3)/3}.')

Digite a 1° nota: 5
Digite a 2° nota: 6
Digite a 3° nota: 7
Média 6.0.

10.

In [ ]:
media_ponderada = (5*1 + 12*2 + 20*3 + 15*4) / (1+2+3+4)
print(f'Média {media_ponderada}.')

Média 14.9.

# **Editando textos**

1.

In [ ]:
frase = 'Olá Python!'
print(frase)

Olá Python!

2.

In [ ]:
frase = input('Digite uma frase: ')
print(frase)

Digite uma frase: esse exercício vai pro github
esse exercício vai pro github

3.

In [ ]:
frase = input('Digite uma frase: ')
print(frase.upper())

Digite uma frase: tudo em caixa alta
TUDO EM CAIXA ALTA

4.

In [ ]:
frase = input('Digite uma frase: ')
print(frase.lower())

Digite uma frase: agora em caixa baixa
agora em caixa baixa

5.

In [ ]:
frase = ' Olá Python!  '
print(frase.strip())

Olá Python!

6.

In [ ]:
frase = input('Digite uma frase: ')
print(frase.strip())

Digite uma frase: Olá Mundo!
Olá Mundo!

7.

In [ ]:
frase = input('Digite uma frase: ')
print(frase.strip().lower())

Digite uma frase: Olá Mundo!
olá mundo!

8.

In [ ]:
frase = input('Digite uma frase: ')
print(frase.lower().replace('e','f'))

Digite uma frase: lembra daquilo que te falei?
lfmbra daquilo quf tf falfi?

9.

In [ ]:
frase = input('Digite uma frase: ')
print(frase.lower().replace('a',chr(64)))

Digite uma frase: não lembro, acho que eu esqueci
não lembro, @cho que eu esqueci

10.

In [ ]:
frase = input('Digite uma frase: ')
print(frase.lower().replace('s',chr(36)))

Digite uma frase: quem sabe depois você lembra de novo  ;)
quem $abe depoi$ você lembra de novo  ;)

# **Exercício 2. Praticar o uso de estruturas condicionais.**

# **Aquecendo na programação**

1. Escreva um programa que peça à pessoa usuária para fornecer dois números e exibir o número maior.

2. Escreva um programa que solicite o percentual de crescimento de produção de uma empresa e informe se houve um crescimento (porcentagem positiva) ou decrescimento (porcentagem negativa).

3. Escreva um programa que determine se uma letra fornecida pela pessoa usuária é uma vogal ou consoante.

4. Escreva um programa que leia valores médios de preços de um modelo de carro por 3 anos consecutivos e exiba o valor mais alto e mais baixo entre esses três anos.

5. Escreva um programa que pergunte sobre o preço de três produtos e indique qual é o produto mais barato para comprar.

6. Escreva um programa que leia três números e os exiba em ordem decrescente.

7. Escreva um programa que pergunte em qual turno a pessoa usuária estuda ("manhã", "tarde" ou "noite") e exiba a mensagem "Bom Dia!", "Boa Tarde!", "Boa Noite!", ou "Valor Inválido!", conforme o caso.

8. Escreva um programa que peça um número inteiro à pessoa usuária e determine se ele é par ou ímpar. Dica: Você pode utilizar o operador módulo %.

9. Escreva um programa que peça um número à pessoa usuária e informe se ele é inteiro ou decimal.

# **Momento dos projetos**

10. Um programa deve ser escrito para ler dois números e, em seguida, perguntar à pessoa usuária qual operação ele deseja realizar. O resultado da operação deve incluir informações sobre o número - se é par ou ímpar, positivo ou negativo e inteiro ou decimal.

11. Escreva um programa que peça à pessoa usuária três números que representam os lados de um triângulo. O programa deve informar se os valores podem ser utilizados para formar um triângulo e, caso afirmativo, se ele é equilátero, isósceles ou escaleno. Tenha em mente algumas dicas:

    Três lados formam um triângulo quando a soma de quaisquer dois lados for maior que o terceiro;
    Triângulo Equilátero: três lados iguais;
    Triângulo Isósceles: quaisquer dois lados iguais;
    Triângulo Escaleno: três lados diferentes.

12. Um estabelecimento está vendendo combustíveis com descontos variados. Para o etanol, se a quantidade comprada for até 15 litros, o desconto será de 2% por litro. Caso contrário, será de 4% por litro. Para o diesel, se a quantidade comprada for até 15 litros, o desconto será de 3% por litro. Caso contrário, será de 5% por litro. O preço do litro de diesel é R$ 2,00. O preço do litro do etanol é de R$ 1,70. Escreva um programa que leia a quantidade de litros vendidos e o tipo de combustível (E para etanol e D para diesel) e calcule o valor a ser pago pelo cliente. Tenha em mente algumas dicas:

    O do valor do desconto será a multiplicação entre preço do litro, quantidade de litros e o valor do desconto.
    O valor a ser pago por um cliente será o resultado da multiplicação do preço do litro pela quantidade de litros menos o valor de desconto resultante do cálculo.

13. Em uma empresa de venda de imóveis você precisa criar um código que analise os dados de vendas anuais para ajudar a diretoria na tomada de decisão. O código precisa coletar os dados de quantidade de venda durante os anos de 2022 e 2023 e fazer um cálculo de variação percentual. A partir do valor da variação, deve ser enviada às seguintes sugestões:

    Para variação acima de 20%: bonificação para o time de vendas.
    Para variação entre 2% e 20%: pequena bonificação para time de vendas.
    Para variação entre 2% e -10%: planejamento de políticas de incentivo às vendas.
    Para bonificações abaixo de -10%: corte de gastos.

# **Resolução**

1

In [1]:
num1 = float(input('Digite o 1° número: '))
num2 = float(input('Digite o 2° número: '))

if num1 > num2:
    print(f'O primeiro número é maior: {num1}')
elif num2 > num1:
    print(f'O segundo número é maior: {num2}')
else:
    print('Os dois números são iguais.')

Digite o 1° número: 2
Digite o 2° número: 4
O segundo número é maior: 4.0

2

In [2]:
variacao = float(input('Digite o percentual de crescimento: '))

if variacao > 0:
    print(f'Houve um crescimento de {variacao}%')
elif variacao < 0:
    print(f'Houve um decrescimento de {variacao}%')
else:
    print('Não houve crescimento ou decrescimento.')

Digite o percentual de crescimento: 20
Houve um crescimento de 20.0%

3

In [3]:
letra = input('Digite uma letra: ').lower()
vogais = 'aeiou'

if letra in vogais:
    print('A letra é uma vogal.')
else:
    print('A letra é uma consoante.')

Digite uma letra: A
A letra é uma vogal.

4

In [4]:
preco_ano1 = float(input('Informe o preço médio do carro no primeiro ano: '))
preco_ano2 = float(input('Informe o preço médio do carro no segundo ano: '))
preco_ano3 = float(input('Informe o preço médio do carro no terceiro ano: '))

maior = preco_ano1
if preco_ano2 > maior:
  maior = preco_ano2
if preco_ano3 > maior:
  maior = preco_ano3

menor = preco_ano1
if preco_ano2 < menor:
  menor = preco_ano2
if preco_ano3 < menor:
  menor = preco_ano3

print(f'O preço mais alto foi de R$ {maior}.')
print(f'O preço mais baixo foi de R$ {menor}.')

Informe o preço médio do carro no primeiro ano: 10.000
Informe o preço médio do carro no segundo ano: 12.000
Informe o preço médio do carro no terceiro ano: 14.000
O preço mais alto foi de R$ 14.0.
O preço mais baixo foi de R$ 10.0.

5

In [5]:
p1 = float(input('Digite o preço do primeiro produto: '))
p2 = float(input('Digite o preço do segundo produto: '))
p3 = float(input('Digite o preço do terceiro produto: '))

if p1 < p2 and p1 < p3:
    print('O primeiro produto é o mais barato.')
elif p2 < p1 and p2 < p3:
    print('O segundo produto é o mais barato.')
elif p3 < p1 and p3 < p2:
    print('O terceiro produto é o mais barato.')
elif p1 == p2 == p3:
    print('Os produtos possuem o mesmo preço.')
else:

    if p1 == p2:
        print('O primeiro e o segundo produtos são os mais baratos.')
    elif p2 == p3:
        print('O segundo e terceiro produtos são os mais baratos.')
    elif p1 == p3:
        print('O primeiro e o terceiro produtos são os mais baratos.')

Digite o preço do primeiro produto: 18
Digite o preço do segundo produto: 17
Digite o preço do terceiro produto: 20
O segundo produto é o mais barato.

6

In [6]:
num1 = int(input('Informe o primeiro número: '))
num2 = int(input('Informe o segundo número: '))
num3 = int(input('Informe o terceiro número: '))

if (num1 >= num2) and (num1 >= num3):
    print(num1)
    if num2 >= num3:
        print(num2)
        print(num3)
    else:
        print(num3)
        print(num2)
elif (num2 >= num1) and (num2 >= num3):
    print(num2)
    if num1 >= num3:
        print(num1)
        print(num3)
    else:
        print(num3)
        print(num1)
else:
    print(num3)
    if num1 >= num2:
        print(num1)
        print(num2)
    else:
        print(num2)
        print(num1)

Informe o primeiro número: 15
Informe o segundo número: 16
Informe o terceiro número: 18
18
16
15

7

In [7]:
turno = input('Digite em qual turno você estuda (manhã, tarde ou noite): ')

if turno == 'manhã':
  print('Bom Dia!')
elif turno == 'tarde':
  print('Boa Tarde!')
elif turno == 'noite':
  print('Boa Noite!')
else:
  print('Valor Inválido!')

Digite em qual turno você estuda (manhã, tarde ou noite): manhã
Bom Dia!

8

In [8]:
num = int(input('Digite um número: '))

if num % 2 == 0:
    print('O número é par.')
else:
    print('O número é ímpar.')

Digite um número: 7
O número é ímpar.

9

In [10]:
num = float(input('Digite um número: '))


if num % 1 == 0:
    print('O número é inteiro.')
else:
    print('O número é decimal.')

Digite um número: 3.14
O número é decimal.

10

In [11]:
num1 = float(input('Informe o primeiro número: '))
num2 = float(input('Informe o segundo número: '))
operacao = input('Informe a operação desejada (+, -, *, /): ')

if operacao == '+':
    resultado = num1 + num2
elif operacao == '-':
    resultado = num1 - num2
elif operacao == '*':
    resultado = num1 * num2
elif operacao == '/':
    resultado = num1 / num2
else:
    print('Operação inválida, resultado da operação será 0')
    resultado = 0

if resultado % 1 == 0:
    print('O resultado é inteiro.')
else:
    print('O resultado é decimal.')

if resultado > 0:
    print('O resultado é positivo.')
elif resultado == 0:
    print('O resultado é neutro.')
else:
    print('O resultado é negativo.')

if resultado % 2 == 0:
    print('O resultado é par.')
else:
    print('O resultado é ímpar.')

Informe o primeiro número: 3
Informe o segundo número: 4
Informe a operação desejada (+, -, *, /): +
O resultado é inteiro.
O resultado é positivo.
O resultado é ímpar.

11

In [12]:
print('Coletaremos os lados de um triângulo.')
lado1 = float(input('Digite o comprimento do primeiro lado: '))
lado2 = float(input('Digite o comprimento do segundo lado: '))
lado3 = float(input('Digite o comprimento do terceiro lado: '))

if (lado1 + lado2 > lado3) and (lado2 + lado3 > lado1) and (lado1 + lado3 > lado2):
    print('Os valores podem formar um triângulo!')

    if (lado1 == lado2) and (lado2 == lado3):
        print('O triângulo é equilátero.')
    elif (lado1 != lado2) and (lado2 != lado3) and (lado1 != lado3):
        print('O triângulo é escaleno.')
    else:
        print('O triângulo é isósceles.')
else:
    print('Os valores não podem formar um triângulo!')

Coletaremos os lados de um triângulo.
Digite o comprimento do primeiro lado: 3
Digite o comprimento do segundo lado: 3
Digite o comprimento do terceiro lado: 3
Os valores podem formar um triângulo!
O triângulo é equilátero.

12

In [13]:
quantidade_litros = float(input('Informe a quantidade de litros vendidos: '))
tipo_combustivel = input('Informe o tipo de combustível (E para etanol e D para diesel): ').upper()

if tipo_combustivel == 'E':

  preco_litro = 1.70

  if quantidade_litros <= 15: desconto = 0.02

  else: desconto = 0.04

elif tipo_combustivel == 'D':

  preco_litro = 2.00

  if quantidade_litros <= 15: desconto = 0.03

  else: desconto = 0.05

else:
    print('Entradas inválidas!')
    preco_litro = 0
    desconto = 0

valor_desconto = preco_litro * quantidade_litros * desconto
valor_pago = preco_litro * quantidade_litros - valor_desconto

print(f'Valor a ser pago pelo cliente: R$ {valor_pago}')

Informe a quantidade de litros vendidos: 23
Informe o tipo de combustível (E para etanol e D para diesel): E
Valor a ser pago pelo cliente: R$ 37.536

13

In [15]:
venda_2022 = float(input('Informe a quantidade de vendas em 2022: '))
venda_2023 = float(input('Informe a quantidade de vendas em 2023: '))

var_percentual = 100 * (venda_2023 - venda_2022) / (venda_2022)

if var_percentual > 20:
    print('Bonificação para o time de vendas.')
elif 2 <= var_percentual <= 20:
    print('Pequena bonificação para time de vendas.')
elif -10 <= var_percentual < 2:
    print('Planejamento de políticas de incentivo às vendas.')
else:
    print('Corte de gastos.')

Informe a quantidade de vendas em 2022: 25.000
Informe a quantidade de vendas em 2023: 50.000
Bonificação para o time de vendas.

# **Exercío 3. Praticar o uso de estruturas de repetição**

# **Aquecendo na programação**

1. Escreva um programa que peça dois números inteiros e imprima todos os números inteiros entre eles.

2. Escreva um programa para calcular quantos dias levará para a colônia de uma bactéria A ultrapassar ou igualar a colônia de uma bactéria B, com base nas taxas de crescimento de 3% e 1,5% respectivamente. Considere que a colônia A inicia com 4 elementos e a B com 10.

3. Para tratar uma quantidade de 15 dados de avaliações de pessoas usuárias de um serviço da empresa, precisamos verificar se as notas são válidas. Então, escreva um programa que vai receber a nota de 0 a 5 de todos os dados e verificar se é um valor válido. Caso seja inserido uma nota acima de 5 ou abaixo de 0, repita até que a pessoa usuária insira um valor válido.

4. Desenvolva um programa que leia um conjunto indeterminado de temperaturas em Celsius e informe a média delas. A leitura deve ser encerrada ao ser enviado o valor -273°C.

5. Escreva um programa que calcule o fatorial de um número inteiro fornecido pela pessoa usuária. Lembrando que o fatorial de um número inteiro é a multiplicação desse número por todos os seus antecessores até o número 1. Por exemplo, o fatorial de 5 é 5 x 4 x 3 x 2 x 1 = 120.

# Momento dos **projetos**

6. Escreva um programa que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Como exemplo, para o número 2, a tabuada deve ser mostrada no seguinte formato:

In [ ]:
Tabuada do 2:
2 x 1 = 2
2 x 2 = 4
[...]
2 x 10 = 20

7.  Os números primos possuem várias aplicações dentro da Ciência de Dados em criptografia e segurança, por exemplo. Um número primo é aquele que é divisível apenas por um e por ele mesmo. Assim, faça um programa que peça um número inteiro e determine se ele é ou não um número primo.

8. Vamos entender a distribuição de idades de pensionistas de uma empresa de previdência. Escreva um programa que leia as idades de uma quantidade não informada de clientes e mostre a distribuição em intervalos de [0-25], [26-50], [51-75] e [76-100]. Encerre a entrada de dados com um número negativo.

9. Em uma eleição para gerência em uma empresa com 20 pessoas colaboradoras, existem quatro candidatos(as). Escreva um programa que calcule o(a) vencedor(a) da eleição. A votação ocorreu da seguinte maneira:

    Cada colaborador(a) votou em uma das quatro pessoas candidatas (que representamos pelos números 1, 2, 3 e 4).
    Também foram contabilizados os votos nulos (representados pelo número 5) e os votos em branco (representados pelo número 6).

Ao final da votação, o programa deve exibir o número total de votos para cada candidato(a), os nulos e os votos em branco. Além disso, deve calcular e exibir a porcentagem de votos nulos em relação ao total de votos e a porcentagem de votos em branco em relação ao total de votos.

# **Resolução**

1.

In [16]:
inicio = int(input('Insira o primeiro número inteiro: '))
fim = int(input('Insira o segundo número inteiro: '))

if inicio < fim:

  for i in range(inicio + 1, fim):
    print(i)
elif inicio > fim:
  for i in range(fim + 1, inicio):
    print(i)
else:
  print('Os números são iguais.')

Insira o primeiro número inteiro: 5
Insira o segundo número inteiro: 8
6
7

2

In [17]:
colonia_a = 4
colonia_b = 10

taxa_a = 0.03
taxa_b = 0.015

dias = 0

while colonia_a <= colonia_b:
  colonia_a *= 1 + taxa_a
  colonia_b *= 1 + taxa_b
  dias += 1
print(f'Irá levar {dias} dias para a colônia A ultrapassar a colônia B.')

Irá levar 63 dias para a colônia A ultrapassar a colônia B.

3

In [19]:
for i in range(15):
  nota = float(input(f'Insira a nota da pessoa usuária {i}: '))

  while (nota < 0) or (nota > 5):
    nota = float(input(f'Nota inválida, insira novamente a nota da pessoa usuária {i}: '))

print('Verificação feita. Todas as notas são válidas')

Insira a nota da pessoa usuária 0: 5
Insira a nota da pessoa usuária 1: 4
Insira a nota da pessoa usuária 2: 3
Insira a nota da pessoa usuária 3: 2
Insira a nota da pessoa usuária 4: 1
Insira a nota da pessoa usuária 5: 3
Insira a nota da pessoa usuária 6: 4
Insira a nota da pessoa usuária 7: 2
Insira a nota da pessoa usuária 8: 5
Insira a nota da pessoa usuária 9: 1
Insira a nota da pessoa usuária 10: 2
Insira a nota da pessoa usuária 11: 3
Insira a nota da pessoa usuária 12: 4
Insira a nota da pessoa usuária 13: 5
Insira a nota da pessoa usuária 14: 2
Verificação feita. Todas as notas são válidas

4

In [23]:
temperatura = float(input('Insira a temperatura em Celsius: '))

contadora = 0
soma = 0

while temperatura != -273:

    soma += temperatura

    contadora += 1

    temperatura = float(input('Insira a temperatura em Celsius: '))

media = soma / contadora

print(f'A média das temperaturas é: {media}')

Insira a temperatura em Celsius: 25
Insira a temperatura em Celsius: 26
Insira a temperatura em Celsius: 23
Insira a temperatura em Celsius: 24
Insira a temperatura em Celsius: -273
A média das temperaturas é: 24.5

5

In [24]:
num = int(input('Informe um número inteiro: '))

fatorial = 1

i = num
while i > 0:
    fatorial *= i
    i -= 1

print(f'Fatorial de {num} é {fatorial}')

Informe um número inteiro: 3
Fatorial de 3 é 6

6

In [25]:
num = int(input('Informe um número inteiro de 1 a 10: '))

print(f'Tabuada do {num}:')
for i in range(1, 11):
    resultado = num * i
    print(f'{num} x {i} = {resultado}')

Informe um número inteiro de 1 a 10: 5
Tabuada do 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

7

In [26]:
num = int(input("Digite o número: "))

eh_primo = True

for i in range(2, num):

    if num % i == 0:
        eh_primo = False
        break

if eh_primo == True:

    print(f'O número {num} é primo')
else:

    print(f'O número {num} não é primo')

Digite o número: 7
O número 7 é primo

8

In [27]:
idade = int(input('Informe a idade (ou um número negativo para encerrar): '))

contador_0_25 = 0
contador_26_50 = 0
contador_51_75 = 0
contador_76_100 = 0

while idade >= 0:

    if idade >= 0 and idade <= 25:
        contador_0_25 += 1
    elif idade >= 26 and idade <= 50:
        contador_26_50 += 1
    elif idade >= 51 and idade <= 75:
        contador_51_75 += 1
    elif idade >= 76 and idade <= 100:
        contador_76_100 += 1

    idade = int(input('Informe a idade (ou um número negativo para encerrar): '))

print('Distribuição de idades:')
print('[0-25]:', contador_0_25)
print('[26-50]:', contador_26_50)
print('[51-75]:', contador_51_75)
print('[76-100]:', contador_76_100)

Informe a idade (ou um número negativo para encerrar): 25
Informe a idade (ou um número negativo para encerrar): 30
Informe a idade (ou um número negativo para encerrar): 25
Informe a idade (ou um número negativo para encerrar): 26
Informe a idade (ou um número negativo para encerrar): 27
Informe a idade (ou um número negativo para encerrar): -10
Distribuição de idades:
[0-25]: 2
[26-50]: 3
[51-75]: 0
[76-100]: 0

9

In [30]:
votos_candidato1 = 0
votos_candidato2 = 0
votos_candidato3 = 0
votos_candidato4 = 0
votos_nulos = 0
votos_branco = 0

for i in range(0,20):
    voto = int(input('Informe seu voto: '))
    if voto == 1:
        votos_candidato1 += 1
    elif voto == 2:
        votos_candidato2 += 1
    elif voto == 3:
        votos_candidato3 += 1
    elif voto == 4:
        votos_candidato4 += 1
    elif voto == 5:
        votos_nulos += 1
    elif voto == 6:
        votos_branco += 1
    else:
        print("Voto inválido.")

print(f'Votos candidato 1: {votos_candidato1}')
print(f'Votos candidato 2: {votos_candidato2}')
print(f'Votos candidato 3: {votos_candidato3}')
print(f'Votos candidato 4: {votos_candidato4}')
print(f'Votos nulos: {votos_nulos}')
print(f'Votos em branco: {votos_branco}')
print(f'Percentual de votos nulos: {(votos_nulos / 20 * 100)}')
print(f'Percentual de votos em branco: {(votos_branco / 20 * 100)}')

Informe seu voto: 1
Informe seu voto: 2
Informe seu voto: 3
Informe seu voto: 4
Informe seu voto: 5
Informe seu voto: 6
Informe seu voto: 1
Informe seu voto: 2
Informe seu voto: 3
Informe seu voto: 4
Informe seu voto: 5
Informe seu voto: 6
Informe seu voto: 1
Informe seu voto: 2
Informe seu voto: 3
Informe seu voto: 4
Informe seu voto: 5
Informe seu voto: 6
Informe seu voto: 1
Informe seu voto: 2
Votos candidato 1: 4
Votos candidato 2: 4
Votos candidato 3: 3
Votos candidato 4: 3
Votos nulos: 3
Votos em branco: 3
Percentual de votos nulos: 15.0
Percentual de votos em branco: 15.0

# **Exercício 3. Praticar o uso de estruturas de dados, como listas e dicionários.**

# **Aquecendo na programação**

1. Faça um programa que tenha a seguinte lista contendo os valores de gastos de uma empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]. Com esses valores, faça um programa que calcule a média de gastos. Dica: use as funções built-in sum() e len().

2. Com os mesmos dados da questão anterior, defina quantas compras foram realizadas acima de 3000 reais e calcule a porcentagem quanto ao total de compras.

3. Faça um código que colete em uma lista 5 números inteiros quaisquer e imprima a lista. Exemplo: [1,4,7,2,4].

4. Colete novamente 5 inteiros e imprima a lista em ordem inversa à enviada.

5. Faça um programa que, ao inserir um número qualquer, cria uma lista contendo todos os números primos entre 1 e o número digitado.

6. Escreva um programa que peça uma data informando o dia, mês e ano e determine se ela é válida para uma análise.

# **Momento dos projetos**

7. Para um estudo envolvendo o nível de multiplicação de bactérias em uma colônia, foi coletado o número de bactérias por dia (em milhares) e pode ser observado a seguir: [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]. Tendo esses valores, faça um código que gere uma lista contendo o percentual de crescimento de bactérias por dia, comparando o número de bactérias em cada dia com o número de bactérias do dia anterior. Dica: para calcular o percentual de crescimento usamos a seguinte equação: 100 * (amostra_atual - amostra_passada) / (amostra_passada).

8. Para uma seleção de produtos alimentícios, precisamos separar o conjunto de IDs dados por números inteiros sabendo que os produtos com ID par são doces e os com ID ímpar são amargos. Monte um código que colete 10 IDs. Depois, calcule e mostre a quantidade de produtos doces e amargos.

9. Desenvolva um programa que informa a nota de um(a) aluno(a) de acordo com suas respostas. Ele deve pedir a resposta desse(a) aluno(a) para cada questão e é preciso verificar se a resposta foi igual ao gabarito. Cada questão vale um ponto e existem as alternativas A, B, C ou D.

In [ ]:
Gabarito da prova:
01 - D
02 - A
03 - C
04 - B
05 - A
06 - D
07 - C
08 - C
09 - A
10 - B

10. Um instituto de meteorologia deseja fazer um estudo de temperatura média de cada mês do ano. Para isso, você precisa fazer um código que colete e armazene essas temperaturas médias em uma lista. Depois, calcule a média anual das temperaturas e mostre todas as temperaturas acima da média anual e em que mês elas ocorreram, mostrando os meses por extenso (Janeiro, Fevereiro, etc.).

11. Uma empresa de e-commerce está interessada em analisar as vendas dos seus produtos. Os dados das vendas foram armazenados em um dicionário:

In [ ]:
{'Produto A': 300, 'Produto B': 80, 'Produto C': 60,
 'Produto D': 200, 'Produto E': 250, 'Produto F': 30}

Escreva um código que calcule o total de vendas e o produto mais vendido.

12. Uma pesquisa de mercado foi feita para decidir qual design de marca infantil mais agrada as crianças. A pesquisa foi feita e o votos computados podem ser observados abaixo:

In [ ]:
'''
Tabela de votos da marca
Design 1 - 1334 votos
Design 2 - 982 votos
Design 3 - 1751 votos
Design 4 - 210 votos
Design 5 - 1811 votos
'''

Adapte os dados fornecidos para uma estrutura de dicionário. A partir dele, informe o design vencedor e a porcentagem de votos recebidos.

13. As pessoas colaboradoras de um setor da empresa que você trabalha vão receber um abono correspondente a 10% do salário devido ao ótimo desempenho do time. O setor financeiro solicitou sua ajuda para a verificação das consequências financeiras que esse abono irá gerar nos recursos. Assim, foi encaminhada para você uma lista com os salários que receberão o abono: [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]. O abono de cada colaborador(a) não pode ser inferior a 200. Em código, transforme cada um dos salários em chaves de um dicionário e o abono de cada salário no elemento. Depois, informe o total de gastos com o abono, quantos(as) colaboradores(as) receberam o abono mínimo e qual o maior valor de abono fornecido.

14. Uma equipe de cientistas de dados está estudando a diversidade biológica em uma floresta. A equipe fez a coleta de informações sobre o número de espécies de plantas e animais em cada área dessa floresta e armazenou essas informações em um dicionário. Nele, a chave descreve a área dos dados e os valores nas listas correspondem às espécies de plantas e animais nas áreas, respectivamente.

In [ ]:
{'Área Norte': [2819, 7236],
 'Área Leste': [1440, 9492],
 'Área Sul': [5969, 7496],
 'Área Oeste': [14446, 49688],
 'Área Centro': [22558, 45148]}

Escreva um código para calcular a média de espécies por área e identificar a área com a maior diversidade biológica. Dica: use as funções built-in sum() e len().

15. O setor de RH da sua empresa te pediu uma ajuda para analisar as idades de colaboradores(as) de 4 setores da empresa. Para isso, foram fornecidos os seguintes dados:

In [ ]:
{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

Sabendo que cada setor tem 10 colaboradores(as), construa um código que calcule a média de idade de cada setor, a idade média geral entre todos os setores e quantas pessoas estão acima da idade média geral.

# **Resolução**

1

In [1]:
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

total_gastos = sum(gastos)
quantidade_compras = len(gastos)
media_gastos = total_gastos / quantidade_compras

print(f'A média de gastos é {media_gastos} reais.')

A média de gastos é 3144.222 reais.

2

In [2]:
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

contador_acima_3000 = 0

for gasto in gastos:

  if gasto > 3000:

    contador_acima_3000 += 1

quantidade_compras = len(gastos)

porcentagem_acima_3000 = 100 * (contador_acima_3000) / (quantidade_compras)

print(f'{contador_acima_3000} compras foram acima de R$3000,00.')
print(f'{porcentagem_acima_3000}% dos gastos foram acima de R$3000,00.')

7 compras foram acima de R$3000,00.
70.0% dos gastos foram acima de R$3000,00.

3

In [3]:
lista_numeros = []

for i in range(0, 5):

  numero = int(input('Digite um número inteiro: '))
  lista_numeros.append(numero)

print(f'Lista de números inseridos: {lista_numeros}')

Digite um número inteiro: 2
Digite um número inteiro: 3
Digite um número inteiro: 4
Digite um número inteiro: 5
Digite um número inteiro: 2
Lista de números inseridos: [2, 3, 4, 5, 2]

4

In [4]:
lista_numeros = []

for i in range(0, 5):

  numero = int(input('Digite um número inteiro: '))
  lista_numeros.append(numero)

print(f'Lista de números invertida: {lista_numeros[::-1]}')

Digite um número inteiro: 2
Digite um número inteiro: 3
Digite um número inteiro: 4
Digite um número inteiro: 5
Digite um número inteiro: 2
Lista de números invertida: [2, 5, 4, 3, 2]

5

In [5]:
numero = int(input('Digite um número inteiro: '))

lista_primos = []

for num in range(2, numero):

  primo = True

  for teste_divisiveis in range(2, num):
    if num % teste_divisiveis == 0:

      primo = False
      break

  if primo:
    lista_primos.append(num)

print(f'Lista de números primos: {lista_primos}')

Digite um número inteiro: 3
Lista de números primos: [2]

6

In [9]:
dia = int(input('Digite o dia: '))
mes = int(input('Digite o mês: '))
ano = int(input('Digite o ano: '))

if mes == 2:

  if ano % 4 == 0 and (ano % 400 == 0 or ano % 100 != 0):
    dias_fevereiro = 29
  else:
    dias_fevereiro = 28

  if dia >= 1 and dia <= dias_fevereiro:
    print('Data válida')
  else:
    print('Data inválida')

elif mes in [1, 3, 5, 7, 8, 10, 12]:
  if dia >= 1 and dia <= 31:
    print('Data válida')
  else:
    print('Data inválida')

elif mes in [4, 6, 9, 11]:
  if dia >= 1 and dia <= 30:
    print('Data válida')
  else:
    print('Data inválida')

else:
  print('Data inválida')

Digite o dia: 28
Digite o mês: 2
Digite o ano: 2024
Data válida

7

In [10]:
bacterias_colonia = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]

porcentagem_crescimento = []

for i in range(1, len(bacterias_colonia)):

  porcentagem = 100 * (bacterias_colonia[i] - bacterias_colonia[i-1]) / (bacterias_colonia[i-1])

  porcentagem_crescimento.append(porcentagem)

print(f'Porcentagens de crescimento:\n{porcentagem_crescimento}')

Porcentagens de crescimento:
[75.00000000000001, 57.142857142857125, 51.51515151515153, 56.0, 44.87179487179489, 46.90265486725664, 51.20481927710843, 50.59760956175297, 50.52910052910054]

8

In [11]:
ids = []

doce = 0
amargo = 0


for i in range(0,10):

  ids.append(int(input(f'Digite o {i+1}° ID: ')))


for id in ids:

  if id % 2 == 0:
    doce += 1
  else:
    amargo += 1


print(f'Quantidade de produtos doces: {doce}')
print(f'Quantidade de produtos amargos: {amargo}')

Digite o 1° ID: 3
Digite o 2° ID: 4
Digite o 3° ID: 2
Digite o 4° ID: 6
Digite o 5° ID: 2
Digite o 6° ID: 3
Digite o 7° ID: 4
Digite o 8° ID: 5
Digite o 9° ID: 2
Digite o 10° ID: 2
Quantidade de produtos doces: 7
Quantidade de produtos amargos: 3

9

In [12]:
respostas = []

gabarito = ['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
nota = 0

for i in range(0, 10):
  respostas.append(input(f'Insira a resposta da questão {i + 1}: ').upper())

for i in range(0,10):
  if respostas[i] == gabarito[i]:
    nota += 1

print(f'Nota final: {nota}')

Insira a resposta da questão 1: a
Insira a resposta da questão 2: b
Insira a resposta da questão 3: c
Insira a resposta da questão 4: d
Insira a resposta da questão 5: a
Insira a resposta da questão 6: a
Insira a resposta da questão 7: b
Insira a resposta da questão 8: b
Insira a resposta da questão 9: b
Insira a resposta da questão 10: c
Nota final: 2

10

In [13]:
temperaturas_mensais = []
for i in range(0,12):
  temperaturas_mensais.append(float(input(f'Digite a média de temperatura do mês {i+1}: ')))

meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']

media_anual = sum(temperaturas_mensais) / len(temperaturas_mensais)


print('Temperaturas acima da média em: ')
for i in range(0,12):

  if temperaturas_mensais[i] > media_anual:

    print(meses[i])

Digite a média de temperatura do mês 1: 35
Digite a média de temperatura do mês 2: 36
Digite a média de temperatura do mês 3: 28
Digite a média de temperatura do mês 4: 26
Digite a média de temperatura do mês 5: 24
Digite a média de temperatura do mês 6: 20
Digite a média de temperatura do mês 7: 18
Digite a média de temperatura do mês 8: 18
Digite a média de temperatura do mês 9: 16
Digite a média de temperatura do mês 10: 18
Digite a média de temperatura do mês 11: 24
Digite a média de temperatura do mês 12: 30
Temperaturas acima da média em:
Janeiro
Fevereiro
Março
Abril
Dezembro

11

In [14]:
dados_vendas = {'Produto A': 300, 'Produto B': 80, 'Produto C': 60, 'Produto D': 200, 'Produto E': 250, 'Produto F': 30}


total_vendas = 0
produto_mais_vendido = ''
unidades_produto_mais_vendido = 0

for produto in dados_vendas.keys():

  total_vendas += dados_vendas[produto]

  if dados_vendas[produto] > unidades_produto_mais_vendido:
    unidades_produto_mais_vendido = dados_vendas[produto]
    produto_mais_vendido = produto

print(f'Total de vendas é {total_vendas}')
print(f'{produto_mais_vendido} é o mais vendido')

Total de vendas é 920
Produto A é o mais vendido

12

In [15]:
votos = {'Design 1': 1334, 'Design 2': 982, 'Design 3': 1751, 'Design 4': 210, 'Design 5': 1811}

total_votos = 0
vencedor = ''
voto_vencedor = 0

for design, voto_desing in votos.items():

  total_votos += voto_desing

  if voto_desing > voto_vencedor:
    voto_vencedor = voto_desing
    vencedor = design

porcentagem = 100 * (voto_vencedor) / (total_votos)

print(f'{vencedor} é o vencedor: ')
print(f'Porcentagem de votos: {porcentagem}%')

Design 5 é o vencedor:
Porcentagem de votos: 29.747043363994745%

13

In [16]:
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]

dic_abonos = {}
total_abono = 0
abonos_minimo = 0
maior_abono = 0

for salario in salarios:

  abono = salario * 0.1

  if abono < 200:
    abono = 200

  dic_abonos[salario] = abono

   if abono == 200:
   abonos_minimo += 1

  if abono > maior_abono:
    maior_abono = abono

  total_abono += abono

print(f'Abonos: {dic_abonos}')
print(f'Total de gasto com abonos: {total_abono}')
print(f'Número de funcionários que receberam o abono mínimo: {abonos_minimo}')
print(f'Maior valor de abono: {maior_abono}')

Abonos: {1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8000000000001, 7685: 768.5, 7782: 778.2, 7903: 790.3000000000001}
Total de gasto com abonos: 6087.8
Número de funcionários que receberam o abono mínimo: 2
Maior valor de abono: 790.3000000000001

14

In [17]:
dados = {'Área Norte': [2819, 7236],
         'Área Leste': [1440, 9492],
         'Área Sul': [5969, 7496],
         'Área Oeste': [14446, 49688],
         'Área Centro': [22558, 45148]}

soma_media = 0
maior_diversidade = ''
maior_soma = 0

for area, especies in dados.items():

  soma_especies = sum(especies)

  media = soma_especies / len(especies)

  print(f'A {area} tem a média de {media} espécies')

  if soma_especies > maior_soma:
      maior_soma = soma_especies
      maior_diversidade = area

  soma_media += media

media_total = soma_media / len(dados)
print(f'Média geral de espécies: {media_total}')
print(f'Área com a maior diversidade biológica: {maior_diversidade}')

A Área Norte tem a média de 5027.5 espécies
A Área Leste tem a média de 5466.0 espécies
A Área Sul tem a média de 6732.5 espécies
A Área Oeste tem a média de 32067.0 espécies
A Área Centro tem a média de 33853.0 espécies
Média geral de espécies: 16629.2
Área com a maior diversidade biológica: Área Centro

15

In [18]:
dados = {'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
        'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
        'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
        'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

total_idades = 0

for setor, idades in dados.items():

  media_idade = sum(idades) / len(idades)

  print(f'O {setor} tem a média de {media_idade}')

  total_idades += sum(idades)

media_total = total_idades / (len(idades) * len(dados))
print(f'A média de idade geral é {media_total}')


acima_media = 0

for setor, idades in dados.items():

  for id in idades:

    if id > media_total:

      acima_media += 1

print(f'{acima_media} pessoas estão acima da idade média geral')

O Setor A tem a média de 39.9
O Setor B tem a média de 42.3
O Setor C tem a média de 35.8
O Setor D tem a média de 36.5
A média de idade geral é 38.625
18 pessoas estão acima da idade média geral